<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Board</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="home-bar">
            <h1>Image Board</h1>
        </div>
        
        <div class="home-header">
            <div class="film-roll-border">
                <div class="film-roll">
                    <div class="circles">
                        <div class="inlay">
                            <img v-bind:src="circles.shift();" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[1]" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[2]" alt="">
                        </div>
                    </div>
                    <div class="circle-small"></div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[3]" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[4]" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[5]" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-curves"></div>
            <div class="background-curves" id="background-curves-up"></div>
            <div class="background-curves" id="background-curves-inlay"></div>
        </div>
        <div id="main">
            <form action="/images" method="post" enctype="multipart/form-data">
                <label for="title">Title</label>
                <input v-model="currentImage.title" type="text" name="title" id="">
                </br>
                <label for="description">Description</label>
                <input v-model="currentImage.description" type="text" name="description" id="">
                </br>
                <label for="tagstring">Tags</label>
                <input v-model="currentImage.tagstring" type="text" name="tagstring" id="">
                </br>
                <label for="username">Username</label>
                <input v-model="currentImage.username"type="text" name="username" id="">
                </br>
                <label for="file">File</label>
                <input @change="setFile" type="file" name="file" id="image-file" accept="image/*">
                <input type="button" value="Upload" @click="upload">
            </form>
            <div class="container" v-if="images.length > 0">
                <div class="item-container" v-for="image in images" v-bind:id="image.id" @click="showDialogue">
                    <div class="pic-container">
                        <div class="pic-border">
                            <img :src="image.url" />
                        </div>
                    </div>
                    <div class="description-container"  v-if="image.title">
                        <p class="description">{{image.title}}</p>
                    </div>
                    <div class="tag-container" v-if="image.tagstring" >
                        <div class="tag-box">{{image.tagstring}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <image-dialogue></image-dialogue> -->
        <!-- <div class="background-css"></div> -->
        <!-- <div class="background-roll">
            <div class="film-roll-border">
                <div class="film-roll">
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles.shift();" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[1]" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[2]" alt="">
                        </div>
                    </div>
                    <div class="circle-small"></div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[3]" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[4]" alt="">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="inlay">
                            <img v-bind:src="circles[5]" alt="">
                        </div>
                    </div>
                </div>
            </div> ---->
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </body>
</html>
