<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Board</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="home-bar">
            <!-- <animation v-if="animate"></animation> -->
            <div class="logo-container">
                <h1>Image Board</h1>
            </div>
        </div>
        <div id="main">
            <div class="tag-search-container">
                <label for="tagsearch">Search images by Tag Name: </label>
                <input type="text" name="tagsearch" v-model="tagsearch" id="tagsearch">
                <button type="button" @click.prevent="searchTags">Filter</button>
                <button type="button" @click.prevent="loadImages">Show All</button>
            </div>
            <div class="form-container" @mouseenter="showUploader" > 
                <h2 id="upload-prompt" v-if="!uploader">{{message}}</h2>
                <image-upload  v-if="uploader" @uploaded="showLastEntry" @hideuploader="hideUploader" @failed="showErrorMessage"></image-upload>
            </div> 
            <div class="container" v-if="images.length > 0">
                <div class="item-container" v-for="image in images">
                    <div class="pic-container" v-bind:id="image.id" @click="showDialogue">
                        <div class="pic-border">
                            <img :src="image.url" />
                        </div>
                    </div>
                    <div class="title-container"  v-if="image.title">
                        <p class="title">{{image.title}}</p>
                    </div>
                    <div class="tag-container" v-if="image.tags" >
                        <div class="tag-box" v-for="tag in image.tags" @click="searchTags">{{tag}}</div>
                    </div>
                </div>
            </div>
            <image-dialogue v-bind:id="imageDialogueId" v-if="imageDialogueId" @close="closeDialogue"></image-dialogue>
        </div>
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </body>
</html>
