* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ranade-Thin;
}

body {
    background-color: #f1eeebfd;
    display: grid;
    grid-template-rows: 60px, 1fr, 1fr;
    gap: 40px;
    grid-template-columns: 5vw, 90vw, 5vw;
    overflow-x: hidden;
}

.home-bar {
    background-color: #f1eeebfd;
    height: 60px;
    grid-row: 1;
    grid-column: 1/4;
    border-bottom: 1px solid black;
    z-index: 1;
}

.home-bar .logo-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #cf3f3ffd;
    margin: 15px 0 0 6vw;
    z-index: -1;
}

.home-bar h1 {
    margin: 13px 0 8px 100px;
    font-family: Ranade-Thin;
}

.film-roll-border {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #f1eeebfd;
    padding: 4px;
    scale: 0.6;
    position: absolute;
    top: 90px;
    left: 66vw;
    animation: 10s infinite spin;
}
.film-roll-border:hover {
    animation: unset;
}

@keyframes spin {
    0% {
        rotate: 0;
    }
    14% {
        rotate: 60deg;
    }
    28% {
        rotate: 120deg;
    }
    44% {
        rotate: 180deg;
    }
    58% {
        rotate: 240deg;
    }
    72% {
        rotate: 300deg;
    }
    86% {
        rotate: 360deg;
    }
}

.film-roll {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 0;
    padding: 45px 12px 50px 18px;
}

.film-roll > div {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f1eeebfd;
    margin: 4px 4px;
}

.film-roll .inlay {
    overflow: hidden;
}

.film-roll > div:nth-child(3) {
    margin-top: -50px;
    margin-bottom: 10px;
}

.film-roll .circle-small {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 20px 32px;
}

.film-roll > div:nth-child(5) {
    margin-top: 10px;
    margin-bottom: -58px;
}

.inlay {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 3px;
    margin-left: 4px;
    margin-bottom: 1px;
}

.background-css {
    position: absolute;
    height: 1000px;
    width: 1000px;
    left: -500px;
    top: 1000px;
    border-radius: 50%;
    border: 1px solid rgb(85, 85, 85);
    z-index: -1;
}

.background-curves {
    position: absolute;
    left: -20px;
    top: 140px;
    width: 90vw;
    height: 220px;
    /* rotate: -55deg; */
    border-radius: 30%;
    border-bottom: 2px solid black;
    z-index: -1;
}

#background-curves-up {
    top: 90px;
    rotate: 2deg;
    left: -20px;
}

#background-curves-inlay {
    height: 214px;
    width: 90wv;
    rotate: 1deg;
    border: none;
    background: linear-gradient(90deg, black 50%, transparent 50%),
        linear-gradient(90deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x;
    background-size: 60px 30px;
    background-position: right bottom;
    padding: 10px;
    animation: move-roll 16s infinite linear;
}

@keyframes move-roll {
    0% {
        background-position: right bottom;
    }
    100% {
        background-position: left 98%;
    }
}

#main {
    width: 90vw;
    grid-row: 3;
    grid-column: 2;
}

#main .form-container {
    position: absolute;
    right: 26px;
    top: 10px;
    width: 15vw;
    height: 15vw;
    min-width: 180px;
    min-height: 180px;
    border-radius: 50%;
    background-color: #493fcffd;
    text-align: center;
    padding: 2em;
    z-index: 3;
    transition: 0.4s ease;
}

#main .form-container:hover {
    min-width: 340px;
    min-height: 340px;
    width: 25vw;
    height: 25vw;
}

#main .form-container h2 {
    white-space: pre-wrap;
    margin-top: 20px;
    font-size: 1.6em;
}

#main .form-container #upload-form {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transition: 4s ease;
}

#main .form-container #upload-form label {
    color: #f1eeebfd;
    grid-column: 2;
    justify-self: start;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#main .form-container #upload-form input {
    grid-column: 3;
    width: 14em;
    background-color: #493fcffd;
    border: none;
    border-bottom: 1px solid #f1eeebfd;
    color: #f1eeebfd;
    margin-top: 3px;
    margin-bottom: 3px;
}

#main .form-container #upload-form input[type="file"] {
    border-bottom: none;
    border-radius: none;
}

#main .form-container #upload-form input[type="submit"] {
    grid-column: 2/-1;
    justify-self: center;
    width: 5em;
    height: 2em;
    border: 1px solid black;
    background-color: #f1eeebfd;
    margin-top: 20px;
    color: black;
}

#main .form-container #upload-form input:focus {
    outline: none;
}

#main .container {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#main .item-container {
    margin: 10px;
}

#main .item-container .pic-border {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#main .item-container .pic-container {
    margin: 10px;
    width: 304px;
    height: 304px;
    border: 1px solid black;
    padding: 1px;
    transition: all 0.4s ease-in-out;
    background-color: #f1eeebfd;
}
#main .item-container .pic-container:hover {
    transform: scale(0.99);
}

#main .item-container .pic-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.6s ease-in-out;
}
#main .item-container .pic-container img:hover {
    transform: scale(1.07);
}

#main .item-container .title-container {
    margin: -6px 10px 0px 11px;
    width: 302px;
    height: 26px;
    border: 1px solid black;
    padding: 3px;
    line-height: 26px;
    background-color: #f1eeebfd;
}

#main .item-container .title-container p {
    height: 100%;
    line-height: 20px;
    font-size: 0.8em;
}

#main .item-container .tag-container {
    margin: 4px 10px 0px 8px;
    width: 304px;
    display: flex;
    justify-content: flex-start;
}

#main .item-container .tag-container .tag-box {
    height: 22px;
    border: 1px solid black;
    padding: 2px;
    line-height: 18px;
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 0.8em;
    background-color: #f1eeebfd;
}

@font-face {
    font-family: Ranade-Bold;
    src: url("/assets/Ranade-Bold.otf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Regular;
    src: url("/assets/Ranade-Regular.otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Thin;
    src: url("/assets/Ranade-Thin.otf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

#modal-background {
    position: absolute;
    z-index: 4;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(85, 85, 85, 0.9);
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
}

.modal-dialogue {
    position: relative;
    z-index: 3;
    transition: 1s ease;
}

.modal-dialogue .description-container,
.modal-dialogue .user-info {
    visibility: hidden;
}

#modal-background .modal-grow {
    width: 40vw;
    grid-column: 1;
    align-self: start;
}

#modal-background .modal-grow .pic-container {
    width: 40vw;
    height: 40vw;
}

#modal-background .modal-grow .pic-border {
    width: 99.9%;
    height: 99.9%;
}
#modal-background .modal-grow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#modal-background .modal-grow .title-container {
    margin: -6px 10px 0px 11px;
    width: 39.8vw;
    height: 40px;
    border: 1px solid black;
    padding: 3px;
    line-height: normal;
    background-color: #a7a7a7fd;
    display: flex;
    flex-direction: column;
}

#modal-background .modal-grow .title-container .title {
    height: 50%;
    font-size: 0.8em;
    line-height: normal;
}

#modal-background .modal-grow .title-container .user-info {
    font-size: 0.7em;
    align-self: flex-end;
    padding-right: 4px;
}

#modal-background .modal-grow .description-container {
    margin-top: 4px;
    width: 39.8vw;
}

#modal-background .modal-grow .tag-container {
    margin: 4px 10px 0px 8px;
    width: 39.8vw;
    display: flex;
    justify-content: flex-start;
}

#modal-background .modal-grow .tag-container .tag-box {
    height: 22px;
    border: 1px solid black;
    padding: 2px;
    line-height: 18px;
    margin-left: 4px;
    margin-bottom: 15px;
    font-size: 0.8em;
    background-color: #a7a7a7fd;
}

.modal-grow .description-container,
.modal-grow .user-info {
    visibility: unset;
    z-index: 5;
    font-size: 0.8em;
}

.modal-grow .description-container {
    margin: 6px 10px 0px 11px;
    width: 49.8vw;
    height: 26px;
    border: 1px solid black;
    padding: 3px;
    line-height: 20px;
    background-color: #a7a7a7fd;
}

.background-roll {
    scale: 3;
    position: absolute;
    right: -100px;
    top: 700px;
    z-index: -1;
}

.background-roll .film-roll {
    border: 0.2px dotted black;
    background-color: transparent;
}

.background-roll .film-roll-border {
    animation: none;
}
